/*Main*/
#main {

}
/*Header*/
#header {
    
}
#header .nav {
    display: none;
}
#header .mobile-menu{
    display: block;
}
.btn-list{
    transform: scale(2.5);
    color: #d9e5f7;
    transition: all 0.3s ease;
}
.btn-list:hover{
    color: #6dc9f7;
}
#mobile-header {
    display: flex;
    position: fixed;
    flex-direction: column;
    opacity: 1;
    height: 100%;
    width: 0px;
    background-color: #0f1629;
    right: 0;
    z-index: 999;
    transition: all 0.3s ease;
}
#mobile-header .nav-main{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #2a3144;
}
#mobile-header .nav{
    flex-direction: column;
}
#mobile-header .close-menu {
    margin: 15px 20px auto auto;
}
/*Slider*/
#slider {

}
/*Content*/
#content {

}
/*Footer*/
#footer {

}
