/*Main*/
#main {

}
/*Header*/
#header {
    
}
#header .nav {
    display: none;
}
#header .mobile-menu{
    display: block;
}
.btn-list{
    font-size: 2rem;
    color: #d9e5f7;
    transition: all 0.3s ease;
}
.btn-list:hover{
    color: #6dc9f7;
}
#mobile-header {
    display: flex;
    position: fixed;
    flex-direction: column;
    opacity: 1;
    height: 100%;
    width: 0px;
    background-color: #0f1629;
    right: 0;
    z-index: 999;
    transition: all 0.3s ease;
}
#mobile-header .nav-logo{
    margin: auto;
}
#mobile-header .nav{
    flex-direction: column;
}
#mobile-header .nav{
    margin: 0;
    padding: 1rem 0;
    border-top: 2px solid #495576;
    border-bottom: 2px solid #495576;
}
#mobile-header .close-box{
    display: flex;
    justify-content: space-between;
}
#mobile-header .close-menu {
    transform: scale(1.2);
    margin: 20px;
}
#mobile-header .nav-logo{
    margin: 0 auto 12px;
}
/*Container*/
#container {

}
.intro-content{
    flex-direction: column;
}
.intro-content>img{
    width: 80%;
}
/*Content*/
#content {

}
/*Footer*/
#footer {

}
