/*Main*/
#main {

}
/*Header*/
#header {
    
}
#header .nav {
    display: none;
}
#header .mobile-menu{
    display: block;
}
.btn-list{
    transform: scale(2.5);
    color: #d9e5f7;
    transition: all 0.3s ease;
}
.btn-list:hover{
    color: #6dc9f7;
}
#mobile-header {
    display: flex;
    position: fixed;
    flex-direction: column;
    opacity: 1;
    height: 100%;
    width: 0px;
    background-color: #0f1629;
    right: 0;
    z-index: 999;
    transition: all 0.3s ease;
}
#mobile-header .nav{
    flex-direction: column;
}
#mobile-header .close-menu {
    font-size: 1rem;
    padding: 20px;
    text-align: right;
}
#mobile-header .nav-logo{
    margin: 0 auto 12px;
}
/*Slider*/
#slider {

}
/*Content*/
#content {

}
/*Footer*/
#footer {

}
