@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
html {
    font-family: "Inter";

}
/* Body*/
body{
    background-color: #0F1629;

}

/* Main */
#main {
   

}
/* Header */
#header {
    border-bottom: 1px solid #202739;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}
#header>img{
    width: 30px;

}
#header>img:hover{
    background-color: #05ced4;
}
#header>a{
    display: block;
    background-image: linear-gradient(to right,#289cd2,#05ced4);
    font-weight: bolder;
    color: #e1ffff;
    padding: 12px;
    border-radius: 6px;
}
#header>a:hover{
    background-image: linear-gradient(to right,#05ced4,#289cd2);
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 30px;
    margin-right: 10px;
}
.logo h1{
    color: #d9e5f7;

}
.nav{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    list-style-type: none;
}
.nav li{
    margin: auto  1rem;
    
}
.nav li a{
    color: #7B87A1;
    display: block;
    transition: color 0.38s;
}
.nav li a:hover{
    color: #6dc9f7
}
/* Menu */
#header>.menu{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#header>.menu>div{
    width: 30px;
    height: 3px;
    background-color: white;

}
/* Slider */
#slider {

}
/* Content */
#content {

}
/* Footer */
#footer {

}
/* animations */

