@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
html {
    font-family: "Inter";
}
/* Body*/
body{
    background-color: #0F1629;

}
/* Main */
#main {
   

}
/* Header */
#header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #202739;
    position: fixed;
}
#header>img{
    width: 30px;
}
#header>img:hover{
    background-color: #05ced4;
}
#header .menu {
    display: flex;
    width: 14rem;
    justify-content: space-between;
}
#header .menu>a{
    display: block;
    background-image: linear-gradient(to right,#289cd2,#05ced4);
    font-size: 1.6rem;
    font-weight: bolder;
    color: #e1ffff;
    padding: 12px;
    border-radius: 6px;
}
#header .menu>a:hover{
    background-image: linear-gradient(to right,#05ced4,#289cd2);
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 30px;
    margin-right: 6px;
}
.logo h1{
    color: #d9e5f7;
    font-size: 3rem;
}
.nav{
    display: flex;
    justify-content: center;
    padding: 1.6rem 0;
    list-style-type: none;
}
.nav li{
    margin: auto 1.6rem;
}
.nav li a{
    color: #7B87A1;
    font-weight: bold;
    font-size: 1.6rem;
    display: block;
    transition: color 0.38s;
}
.nav li a:hover{
    color: #6dc9f7;
}
/* Menu */
#header .open-menu {
    display: none;
}
/* Slider */
#slider {

}
/* Content */
#content {

}
/* Footer */
#footer {

}
/* animations */
/* mobile */